@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-neutral-100 dark:bg-neutral-800 text-neutral-900 dark:text-white accent-asu-maroon;
    }
    .title {
        @apply text-7xl pt-5 leading-none;
    }

    .subtitle {
        @apply text-xl pb-10;
    }

    .heading {
        @apply text-2xl pb-6;
    }

    .icon-button {
        @apply w-10;
    }

    .button {
        @apply flex rounded-md p-1.5 text-white whitespace-nowrap bg-asu-maroon border-2 border-transparent items-center;
    }

    .button:disabled {
        @apply cursor-not-allowed bg-neutral-800;
    }

    .button:active {
        @apply border-asu-gold;
    }

    select {
        @apply cursor-pointer w-fit p-1.5 bg-neutral-200 dark:bg-neutral-800 text-black dark:text-white rounded-md border-solid border-2 border-neutral-300 dark:border-neutral-500 focus:border-asu-gold h-10;
    }

    input {
        @apply bg-white dark:bg-black dark:text-white focus:outline-asu-gold disabled:border-0 disabled:bg-transparent border border-neutral-300 dark:border-neutral-500 rounded-lg py-1 px-4 leading-normal w-auto h-10;
    }

    textarea {
        @apply bg-white dark:bg-black dark:text-white focus:outline-asu-gold disabled:border-0 disabled:bg-transparent border border-neutral-300 rounded-lg py-1 px-4 leading-normal w-auto;
    }

    .dateTimeColumn {
        @apply min-w-[200px] whitespace-nowrap overflow-visible;
    }

    .siteColumn {
        @apply min-w-[100px] whitespace-nowrap overflow-visible;
    }

    .yearColumn {
        @apply min-w-[90px] whitespace-nowrap overflow-visible;
    }

    .taxaColumn {
        @apply min-w-[100px] whitespace-nowrap overflow-visible;
    }

    .genusColumn {
        @apply min-w-[120px] whitespace-nowrap overflow-visible;
    }

    .speciesColumn {
        @apply min-w-[100px] whitespace-nowrap overflow-visible;
    }
}
