@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title {
        @apply text-7xl pt-5 leading-none;
    }

    .subtitle {
        @apply text-xl pb-10;
    }

    .heading {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }

    button {
        @apply flex rounded-md p-1.5 text-white whitespace-nowrap bg-asu-maroon border-2 border-transparent;
    }

    .icon-button {
        @apply w-10;
    }

    button:disabled {
        @apply cursor-not-allowed bg-neutral-800;
    }

    button:active {
        @apply border-asu-gold;
    }

    select {
        @apply cursor-pointer w-auto p-1.5 bg-neutral-200 rounded-md border-solid border-2 focus:border-asu-gold;
    }
}
