@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title {
        font-size: 4.5rem;
        padding-top: 1.25rem;
        line-height: 1;
    }

    .subtitle {
        font-size: 1.25rem;
        padding-bottom: 2.5rem;
        line-height: 1.75rem;
    }

    .heading {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .button {
        display: flex;
        border-radius: 0.375rem;
        padding: 0.357rem;
        color: white;
        white-space: nowrap;
        background: #8c1d40;
        border-width: 2px;
        border-color: transparent;
        width: 2.5em;
    }

    .button:active {
        border-color: #ffc627;
    }
}
